

#graphic-div {

    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    margin-top: 40px;
    margin-left: 285px;

}


.graphic {

    height:275px;
    padding:10px;
    border-radius:18px;
}

.graphic:hover {
    cursor: pointer;
    opacity: 0.8;
}

#ducks {

    justify-content: center;
    align-items: center;

}

.nope {
    display:none;
}

.grow {

    height:350px;
    top: 26%;
    left: 24.05%;
    position: fixed;

    background:white;
    padding-right: 380px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;

}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.5);

}

#overlay:hover{
    cursor: pointer;
}



    