

#icon-one {

    height:168px;

}

.nums {

    font-family: 'raleway', 'san-serif';
    color:#989899;
    font-size:40px;
    padding-top: 60px;

}

.des {

    font-family: 'raleway', 'san-serif';
    color:#989899;
    font-size:18px;
    line-height: 12px;

}

.boxyy {

    margin-top: -10px;
    padding-left: 2px;

}

h1 {

    font-family: 'quicksand', 'san-serif';
    color:#989899;
    font-size:30px;
    font-weight: 100;

}

h1:hover {
    color:#C08ABD;
    cursor: pointer;
}

.title-link:hover {
    color:#C08ABD;
}

.para {

    display: flex;
    flex-direction: column;
    padding-top: 22px;

}

.icon {

    padding:50px;
}

.icon:hover {
    opacity:0.8;
    cursor: pointer;
}

.projects {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-right: 25px;

}

.title-link {

    font-family: 'quicksand', 'san-serif';
    color:#989899;
    font-size:30px;
    font-weight: 100;
    text-decoration: none;
    padding-bottom: 22px;
    margin-top: 20px;

}

#gahh {
    margin-right: 23px;
}

#sheesh {
    margin-left: 20px;
}
